<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular App</title>
    <link rel="stylesheet" href="../Content/vendor/css/bootstrap.css" />
    <link rel="stylesheet" href="../Content/site.css" />
    <link rel="stylesheet" href="../Content/vendor/css/bootstrap-responsive.css" />
    <script type="text/javascript" src="../Scripts/common/vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../Scripts/angular/vendor/angular.js"></script>
    <script type="text/javascript" src="../Scripts/angular/vendor/angular-resource.js"></script>
    <script type="text/javascript" src="../Scripts/common/vendor/underscore.js"></script>
    <script type="text/javascript" src="../Scripts/common/vendor/sugar-1.3.9.min.js"></script>
</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">My MVC Site</a>
                <ul class="nav">
                    <li><a href="#users">Users</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" ng-view></div>

    <script type="text/ng-template" id="partials/users.html">
        <div class="page-header">
            <h1>User Management</h1>
        </div>
        <div id="edit" ng-controller="AddEditUserCtrl">
            <form class="well form-horizontal" name="addEditForm" ng-submit="saveUser()">
            <div class="control-group" ng-class="{info: addEditForm.userName.$error.usernameTaken}">
                <label class="control-label" for="txtUsername">User Name</label>
                <div class="controls">
                    <input type="text" class="input-large" name="userName" ng-model="user.Username" id="txtUsername" ng-disabled="user.UserId" blur="checkUsername()" required/>
                    <span class="help-inline" ng-show="addEditForm.userName.$error.usernameTaken">Username is taken</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtFirstName">First Name</label>
                <div class="controls">
                    <input type="text" name="firstName" class="input-large" ng-model="user.FirstName" id="txtFirstName" required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtLastName">Last Name</label>
                <div class="controls">
                    <input type="text" name="lastName" class="input-large" ng-model="user.LastName" id="txtLastName"  required/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtEmailAddress">Email Address</label>
                <div class="controls">
                    <input type="text" name="emailAddress" class="input-large" ng-model="user.EmailAddress" id="txtEmailAddress"  required/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" id="save" class="btn btn-primary" value="Save" />
                    <input type="button" id="clear" class="btn" value="Clear" ng-click="clearUser()" />
                </div>
            </div>
        </form>
        </div>
        <div id="content" ng-controller="UserListCtrl">
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email Address</th>
                    <th>Created On</th>
                    <th>Last Modified</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr class="selectable" ng-repeat="user in users" ng-click="selectUser(user)">
                        <td>{{user.FirstName}} {{user.LastName}}</td>
                        <td>{{user.Username}}</td>
                        <td>{{user.EmailAddress}}</td>
                        <td>{{user.CreatedDate | date:'EEEE MMMM d, yyyy h:mm a'}}</td>
                        <td>{{user.ModifiedDate | date:'EEEE MMMM d, yyyy h:mm a'}}</td>
                        <td><div class="trash"><i class="remove icon-trash" ng-click="removeUser(user, $event)"></i></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/javascript" src="../Scripts/angular/app.js"></script>
    <script type="text/javascript" src="../Scripts/angular/users/controllers.js"></script>
    <script type="text/javascript" src="../Scripts/angular/users/directives.js"></script>
    <script type="text/javascript" src="../Scripts/angular/users/services.js"></script>
    <script type="text/javascript" src="../Scripts/angular/common/controllers.js"></script>
    <script type="text/javascript" src="../Scripts/angular/common/directives.js"></script>
    <script type="text/javascript" src="../Scripts/angular/common/services.js"></script>
</body>
</html>
